@tailwind base;
@tailwind components;
@tailwind utilities;

/* Tailwind CSS */
.moon {
  @apply relative;
  box-shadow: inset -10px -5px 6px 1px #7b6447;
}
.moon::before {
  content: "";
  @apply absolute w-2 h-2 bg-[#cca87c96] rounded-full;
  top: 35px;
  left: 15px;
}
.moon::after {
  content: "";
  @apply absolute w-4 h-4 bg-[#cca87c96] rounded-full;
  top: 15px;
  left: 23px;
}
