@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  @keyframes orbit {
    from {
      transform: translate(-50%, -50%) rotate(0deg) translateX(100px)
        rotate(0deg);
    }
    to {
      transform: translate(-50%, -50%) rotate(360deg) translateX(100px)
        rotate(-360deg);
    }
  }

  .orbit {
    @apply absolute top-1/2 left-1/2;
    width: 35px; /* Size of the orbiting images */
    height: 35px; /* Size of the orbiting images */
    animation: orbit 10s infinite linear; /* Adjust timing as needed */
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup-enter {
  animation: slideInFromRight 0.5s forwards;
}

.popup-exit {
  animation: fadeOut 0.5s forwards;
}
