@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --gradient-color-1: #20b4c8;
  --gradient-color-2: rgba(36, 181, 201, 0.99);
  --gradient-color-3: rgba(255, 255, 255, 0);
}

body {
  background: linear-gradient(
    180deg,
    var(--gradient-color-1) 0%,
    var(--gradient-color-2) 0.01%,
    var(--gradient-color-3) 100%
  );
  min-height: 100vh;
}
